@font-face {
    font-family: 'BrushScriptMTItalic';
    src: url('/assets/fonts/Brush Script MT Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HYNanGongTiJ-2';
    src: url('/assets/fonts/HYNanGongTiJ-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HYNanGongTiJ-2', sans-serif;
}