* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

body {
    background-image: url(yln.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://saas.chatbot.cn/download/minio/standard/2025-04-07/d6de0d5c17eb49c0ab713f4e1a31754d.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

div {
    border: 1px solid #000;
}

#container {
    width: 900px;
    height: auto;
    margin: 0 auto;
    background-color: #f9f2d7;
    padding: 10px;
}

#banner {
    display: flex;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    border: 0;
    /* 为父元素添加相对定位 */
}

#main {
    display: flex;
    margin-bottom: 20px;
    border: 0;
    height: 400px;
}

#content {
    flex: 2;
    height: 399px;
    background-color: #ffd6cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links {
    flex: 3;
    height: 399px;
    background-color: #d5f5e3;
    margin-left: 20px;
    overflow-y: auto;
}

#footer {
    height: auto;
    background-color: #f4ccff;
    padding: 5px;
}

.biankuang {
    border: 1px solid #000;
    border-radius: 3px;
}

#t2 {
    width: 99.9%;
}

input {
    font-size: 18px;
    border-radius: 3px;
    border: 1.2px solid rgb(4, 129, 206);
    background-color: rgb(255, 255, 255);
}

input[type="file"] {
    font-size: 12px;
    border-radius: 3px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
}

.menu1,
.menu2,
.menu3 {
    flex: 1;
    display: flex;
    border: 0;
}

.menu-item {
    flex: 3;
    margin: 2px;
    border-radius: 2px;
    display: block;
    border: 0;
    position: relative;
    background-color: #cfe2ff;
}

.sub-menu {
    width: 99.9%;
    display: none;
    border-radius: 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    position: absolute;
    background-color: #cfe2ff;
    z-index: 1;
}

.sub-menu-item {
    border-radius: 2px;
}


/* 添加媒体查询 */

@media (max-width: 768px) {
    #container {
        transform: scale(0.6);
        /* 按比例缩小 */
        transform-origin: top center;
        /* 从顶部中心开始缩放 */
    }
}