* {
    margin: 0;
    padding: 0;
    background-color: #ccccff;
}

h1 {
    color: white;
    background-color: blue;
    text-align: center;
}

img {
    float: left;
    border: 1px;
    margin: 5px;
    border-style: dashed;
    border-color: #9999cc;
}

p {
    text-indent: 2em;
    font-size: 12px;
    margin: 5px;
    line-height: 1.5em;
}

.p1 {
    border-right: 3px double red;
}

.p2 {
    border-right: 3px double orange;
}