@font-face {
    font-family: 'BrushScriptMTItalic';
    src: url('../../font/Brush Script MT Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HYNanGongTiJ-2';
    src: url('/sources/fonts/HYNanGongTiJ-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HYNanGongTiJ-2', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.acrylic-panel {
    width: 450px;
    height: 350px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 12px 40px 0 rgba(31, 38, 135, 0.4);
    padding: 25px;
    color: #fff;
    transition: transform 0.3s ease;
}

.acrylic-panel:hover {
    transform: scale(1.05);
}


/* 添加媒体查询 */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* 改为垂直排列 */
        gap: 20px;
        /* 减少间距 */
    }
    .acrylic-panel {
        width: 75%;
        /* 手机分辨率下占满宽度 */
        height: auto;
        /* 高度自适应 */
        padding: 15px;
        /* 减少内边距 */
    }
}