@font-face {
    font-family: 'HYNanGongTiJ-2';
    src: url('/assets/fonts/HYNanGongTiJ-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* 定义自定义字体 */

@font-face {
    font-family: 'BrushScriptMTItalic';
    src: url('/assets/fonts/Brush Script MT Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


/* 新增标题样式 */

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'HYNanGongTiJ-2', cursive;
    font-size: 4rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
    text-align: center;
}

.sub-title {
    font-family: 'BrushScriptMTItalic', cursive;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 16px rgba(255, 255, 255, 0.5), 0 0 24px rgba(255, 255, 255, 0.3);
}


/* 定义亚克力板样式 */

.acrylic-panel {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 58%;
    max-width: 1000px;
}


/* 定义单个板块样式 */

.panel-item {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: 'HYNanGongTiJ-2', cursive;
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    justify-content: center;
}

.panel-item:hover {
    color: #0080ffc5;
    font-weight: bold;
}


/* 新增鼠标悬停样式 */

.acrylic-panel .panel-item {
    /* 可以添加一些默认样式，比如过渡效果 */
    transition: all 0.3s ease;
}

.acrylic-panel .panel-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
    /* 鼠标悬停时背景颜色变亮 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    /* 鼠标悬停时阴影加深 */
    transform: scale(1.05);
    /* 鼠标悬停时稍微放大 */
}

.icon {
    width: 20px;
    /* 设置图标宽度 */
    height: 20px;
    /* 设置图标高度 */
}

@media (max-width: 768px) {
    .acrylic-panel {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .panel-item {
        width: calc(50% - 5px);
        /* 两两一行，减去间隙 */
        height: 100px;
        /* 固定高度 */
        margin: 0;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }
    .icon {
        width: 24px;
        height: 24px;
        margin-bottom: 5px;
    }
}